.main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #dddddd;
}

.item{
    display: none;
    width: 100%;
}

#pag1{
    display: contents;
    width: 100%;    
}

.h2{
    justify-content: center;
    align-items: center;
}

.prato{
    width: 300px;
    height: 300px;
    
}