.main{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display:block;
}

.item{
    display: none;
}

.item:active{
    display: block;
}

.prato{
    width: 300px;
    height: 300px;
    
}